# Python bytecode
*.py[cod]
__pycache__/
**/__pycache__/

# SQLite database (jika ada)
db.sqlite3

# Virtual environments
env/
venv/
ENV/
.venv/

# Static files (jika kamu TIDAK pakai collectstatic)
staticfiles/
staticfiles_build/
static/

# Environment & secrets
.env
*.env
secrets.json

# Vercel local files
.vercel/

# VS Code
.vscode/

# Logs, caches, backups
*.log
*.bak
*.swp
*.tmp

# Django migration cache
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
