asgiref==3.11.1
Django==6.0.5
gunicorn==26.0.0
mangum==0.21.0
packaging==26.2
params==0.9.0
psycopg2==2.9.12
psycopg2-binary==2.9.12
python-decouple==3.8
python-dotenv==1.2.2
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
waitress==3.0.2
whitenoise==6.12.0
